<h1 class="page-title">
    <div class="ui middle aligned two column stackable padded grid">
        <div class="twelve wide computer column no-padding">
            {{ page.title }}
        </div>
        <div class="right aligned four wide computer column no-padding edit-page">
            <a href="{{ site.github.repository_url }}/edit/gh-pages/{{ page.relative_path }}">
                <i class="fa fa-pencil"></i> <span>Edit this page</span>
            </a>
        </div>
    </div>
    {% if page.readtime or page.date %}
    <div class="ui header">
        <div class="sub header">
            {% if page.readtime %}
            <span>
                <i class="horizontally flipped wait icon"></i>
                <span>{{ page.readtime }} minute read</span>
            </span>
            {% endif %}
            {% if page.date %}
            <span>
                <i class="calendar outline icon"></i>
                <span>{{ page.date | date_to_string }}</span>
            </span>
            {% endif %}
        </div>
    </div>
    {% endif %}
</h1>
