note,
tip,
important {
    display:block;
    margin: 1em 0;
    padding: 1em 1.5em 1em 3.2em;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    border-radius: .3rem;
    position: relative;
    box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset,0 0 0 0 transparent;
}

note:after,
tip:after,
important:after {
    font-family: FontAwesome;
    font-size: 1.8em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    display: block;
    position: absolute;
    top: .5em;
    left: .5em;
}

note title,
tip title,
important title {
    display: block;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.1em;
    margin-bottom: .3em;
}

note {
    background: #F8F8F9;
    color: rgba(0,0,0,.87);
}
note:after {
    content: "\f05a";
}

tip {
    background: #EAE7FF;
    color: #6435C9;
}
tip:after {
    content: "\f0eb";
}

important {
    background: #FFE8E6;
    color: #DB2828;
}
important:after {
    content: "\f06a";
}