<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% include excerpt.html %}">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link rel="stylesheet" href="//rawgit.com/sindresorhus/github-markdown-css/gh-pages/github-markdown.css">
    <link rel="stylesheet" href="{{ "/assets/css/semantic.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/boxes.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
    <![endif]-->
    {% include analytics.html %}
</head>

<body>

    {{ content }}

    {% include anchor_links.html %}
    <script src="//rawgit.com/dennyferra/TypeWatch/master/jquery.typewatch.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lunr.js/0.6.0/lunr.min.js"></script>
    <script src="{{ "/assets/js/search.js" | prepend: site.baseurl }}"></script>
    <script id="dsq-count-scr" src="//sitestacker.disqus.com/count.js" async></script>
</body>
</html>